
*{
  margin: 0;
  padding: 0;
}
  .page-container{
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-columns: 1583px;
    grid-template-rows: 675px 1045px 100px;
    min-height: 100vh;
    width: 100%;
  }
  .header{
    grid-area: header;
    background: url(Layer-1.jpg);
    background-repeat: no-repeat;
    moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    color: #cd4b18;


  }
  .header .header-text h1 {
    font-size: 80px;
    margin: 35px 60px;
  font-family: 'DM Sans', sans-serif;
    -webkit-text-stroke-width: 2px;
     -webkit-text-stroke-color: black;
     text-decoration: none;
  }
  .header h2{
    font-family: 'Poller One', cursive;
      margin: -35px 60px ;
      -webkit-text-stroke-width: 1px;
       -webkit-text-stroke-color: black;
       display: inline-flex;

  }
  .main{
    background-color: white;
    grid-area: main;
  }
  .footer{
    background-color: green;
    grid-area: footer;
  }

  .menu{
      float: right;
      margin-left:300px;
      margin-top:65px ;
      list-style-type: none;
      font-weight: 500;
  }
  a{
    text-decoration: none;
    color: black;
      padding: 10px;
      font-size: 20px;
  }
  a:hover{
    text-decoration: none;

    background-color: #cd4b18;

    color: white;
    border-radius: 5px;
  }
  ul li {
    padding-left: 40px;
    display: inline-flex;
  }
  .registration{
    width: 400px;
    height: 520px;
    background-color: #345ba1;
    float: right;
    margin:-50px 200px;
    border-radius: 5px;
  }
  .registration h1{
    font-family: 'DM Serif Display', serif;
    font-weight: 700;
    text-align: center;
    margin: 30px;
    color: white;
  }
  .registration input{
    display: flex;
    margin: 20px 13px;
  }
  input{
    border-radius: 5px;
    padding: 9px;
    font-size: 15px;
  }
  .button{
    background-color:#cd4b18;
    color:white;
    border: 1px solid #cd4b18;
    font-size: 30px;
    padding: 9px 100px;
  }
  .header-text{
    display: inline-flex;
  }
